.sectionTitle {
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.address {
  font-weight: 700;
  color: black;
}

.address a:visited {
  text-decoration: none;
}

.address a:hover {
  text-decoration: underline;
}

.address a:active {
  text-decoration: underline;
}