.containerOrders {
  /* padding: 5px; */
}

.tableHeader {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}

.tableHeaderCellAction {
  text-align: right;
}

.rowText {
  font-size: 14px;
}

.cancelLink {
  color: rgb(5, 65, 134);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}