
.containerOrders {
  /* padding: 5px; */
}

.tableTitle{
font-size: 14px;
font-weight: 700;
}

.tableTitleCellAction{
  text-align: right;
  padding-bottom: 4px;
  }

.rowText{
  font-size: 14px;
  }
.cancelLink{
  color: rgb(255, 64, 129);
  font-weight: 700;
  text-decoration: none;
}

.tableCell{
text-align: left;
}

.tableCellUnderline {
  border-bottom: 1px dotted #A9A9A9;
  text-decoration: none;
}

.right {
  text-align: right;
}
.baseToken {
  font-weight: 700;
}