.title {
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
  float: left;
}

.quoteTokens {
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
  float: right;
  cursor: pointer;
}

.tokenSelected {
  font-weight: 700;
  text-decoration: underline;
  opacity: 1;
}

.tokenNotSelected {
  opacity: 0.8;
}