/* Copyright 2016 Gabriele Rigo */

.events {
  padding: 0.5em 0.25em;
  text-align: center;
  display: flex;
}

.container {
  overflow: visible;
  margin: 0 auto;
}

.list {
  border: none;
  border-spacing: 0;
  text-align: left;
}

.list td {
  vertical-align: top;
  padding: 0.25em 1em;
  max-height: 1.5em;
  white-space: nowrap;
}

.event {
  line-height: 32px;
  vertical-align: top;
}

.blocknumber,
.ethvalue,
.gabvalue {
}

.blocknumber,
.gabvalue {
  text-align: right;
}

.ethvalue {
  text-align: center;
}

.type {
}

.account {
}

.account img {
  /* margin-bottom: -11px; */
  float: left;
  width: 20px;
  height: 20px;
}

.accountaddress {
  /* margin-left: 60px; */
  font-size: 12px;
  float: right;
}

.listiteminfotext {
  /* margin-left: 60px; */
  font-size: 14px !important;
  padding: 10px 5px 10px 5px !important;
}

.listiteminfotexttype {
  /* margin-left: 60px; */
  font-size: 14px !important;
  padding: 10px 5px 10px 5px !important;
  text-align: right !important;
}

.listiteminfotextamount {
  /* margin-left: 60px; */
  font-size: 14px !important;
  padding: 10px 5px 10px 5px !important;
  text-align: right !important;
}

.listiteminfotextavatarrow {
  padding: 0px 0px 0px 0px !important;
}

.listiteminfotextavatar {
  margin-top: -20px !important;
  padding: 0px 0px 0px 0px !important;
}

.listitemavatartext {
  /* margin-left: 60px; */
  font-size: 14px !important;
  padding: 10px 5px 10px 72px !important;
}

.tableDiv {
  /* margin-left: 60px; */
  width: 600px;
}

.eventstable {
  /* width: 100%; */
}

.address {
}

.name {
  text-transform: uppercase;
}

.event div {
  display: inline;
  margin-right: 1em;
  vertical-align: top;
}

.event td {
  text-align: left;
}

.event th {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
}

.mined {
}

.pending {
  opacity: 0.5;
}

.buyin {
}

.buyDragoo {
}

.refund {
}

.transfer {
}

.dragoCreated {
}

.newtranch {
  background: rgba(255, 175, 0, 0.125); /*rgba(68, 51, 0, 0.15);*/
}
