/* pageFundDetailsTrader */

.paperContainer {
  margin-top: 10px;
  display: 'inline-block';
}

.cardtitle {
  background-color: #EEEEEE;
  color: black !important;
}

.dragoTitle img {
  width: 50px !important;
  height: 50px !important;
}

.dragoTitle p {
  font-size: 1.5em !important;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copyAddress {
  height: 16px !important;
  width: 16px !important;
}

.detailsToolbar {
  height: 100% !important;
}


.detailsToolbarGroup {
  width: 100% !important;
}

.detailsTabContent {
  padding: 10px;
}

.detailsTab {
  color: #2196F3 !important;
  background-color: white !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}


.detailsTabs {
  width: 20% !important;
  margin: auto !important;
}

.column {
  height: 250px !important;
  margin-top: 10px;
}

.detailsTableCell {
  width: 75px;
  font-weight: 700 !important;
  padding-left: 0px !important;
  font-size: 16px !important;
}

.detailsTableCell2 {
  font-size: 16px !important;
}

.detailsTableCell3 {
  width: 50px;
  font-size: 16px !important;
}

.detailsTable {
  /* width: 50% !important; */
}