/* Copyright 2016 Rigo Investment Sarl. */

/* .body {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
} */

/* pageFundDetailsTrader */



.paperContainer {
  margin-top: 10px;
  display: 'inline-block';
}

.cardtitle {
  background-color: #EEEEEE;
  color: black !important;
}

.dragoTitle img {
  width: 50px !important;
  height: 50px !important;
}

.dragoTitle p {
  font-size: 1.5em !important;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* pageFundDetailsTrader */

.copyAddress {
  height: 16px !important;
  width: 16px !important;
}

.detailsToolbar {
  height: 100% !important;
}


.detailsToolbarGroup {
  width: 100% !important;
}

.detailsTabContent {
  padding: 10px;
}

.detailsTab {
  color: #2196F3 !important;
  background-color: white !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.detailsTabs {
  width: 20% !important;
  margin: auto !important;
}

.column {
  height: 250px !important;
  margin-top: 10px;
}

.detailsTableCell {
  width: 75px;
  font-weight: 700 !important;
  padding-left: 0px !important;
  font-size: 16px !important;
}

.detailsTableCell2 {
  font-size: 16px !important;
}

.detailsTableCell3 {
  width: 50px;
  font-size: 16px !important;
}

.detailsTable {
  /* width: 50% !important; */
}


/* applicationDragoHome */

.maincontainer {
  height: 100%
}


/* eventTransactions */

.transactionsDivider {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}


/* elementTradeBox */

.actions {
  text-align: center;
  padding: 2em 0 0 0;
  width: 100%;
}

.button {
  margin: 0 0.5em;
}

.vault {
  float: left;
  padding-left: 0.5cm;
}

.button button {
  /* background-color: #00BCD4 !important; */
  height: 56px !important;
  padding: 0 10px !important;
}

.button button[disabled] {
  opacity: 0.25;
}

.dlgbtn {
}

.dlgbtn span {
  color: #430 !important;
}

.dlgbtn[disabled] {
  opacity: 0.25;
}

.dialog {
}

.dialog h3 {
  color: #430 !important;
  text-transform: uppercase;
}

.dialogtext {
  padding-top: 1em;
}

.link, .link:hover, .link:visited {
  color: rgb(0, 188, 212);
  text-decoration: none;
}

.overlay {
  position: relative;
}

.overlay svg {
  opacity: 0;
}

.toggle {
  text-align: right;
}

.overlaytoggle {
  position: absolute !important;
  top: 40px;
  right: 0;
  display: inline-block !important;
  width: auto !important;
}