.warningText {
  text-align: center;
  vertical-align: middle;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  color: #000000;
  
}

.titleRBModal {
  /* float: left; */
  padding: 0 !important; 
}

.titleRBHeader img {
  /* float: left; */
  width: 100%;
}

.titleRBHeaderContainer {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.titlePrimaryText {
  font-family: gill sans,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: auto;
}

.titleSecondaryText {
  font-family: gill sans,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: auto;
}


.modalHeader {
  padding: 0 !important;
  margin: -8px !important;
  border-radius: 2px;
  font-size: 16px !important;
  line-height: 20px !important; 
}

.modalHeader img {
  width: 100%;
}