/* Copyright 2016 Rigo Investment Sagl. */

@-webkit-keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.communityButton {
  padding-right: 2px;
  padding-left: 2px;
}

.progressBarContainer {
  padding-bottom: 10px;
}

.socialsContainer {
  text-align: right;
  padding-right: 16px;
  padding-top: 8px;
  position: absolute;
  right: 5px;
  overflow: hidden;

}

.socialsContainer img {
  padding-left: 5px;
}

.actionsContainer {
  padding-top: 25px;
}

.telegramButtonContainer {
  /* opacity:0;  make things invisible upon start */
  -webkit-animation: slideInFromBottom ease-in 1;
  /* call our keyframe named slideInFromBottom, use animattion ease-in and repeat it only 1 time */
  -moz-animation: slideInFromBottom ease-in 1;
  animation: slideInFromBottom ease-in 1;

  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  opacity: 0;
  /* make things invisible upon start */
  padding-top: 24px;
  padding-bottom: 24px;
  position: fixed;
  right: 25px;
  bottom: 15px;
}

.body {
  /* background-size: cover;
  background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
  text-align: center;
  flex: 1 0 auto;
  height: 100%;
}

.shadow {
  box-shadow: -60px 0px 40px -90px #000000, 60px 0px 40px -90px #000000 !important;
}

@supports (-webkit-appearance:none) {
  .shadow {
    box-shadow: -60px 0px 90px -90px #000000, 60px 0px 90px -90px #000000 !important;
  }
}

.cards {
  padding-right: 10px;
  padding-left: 10px;
}

.headline {
  /* text-transform: uppercase; */
  /* font-weight: 700;
  opacity: 0.9; */
  color: #054186;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 25px;
  font-weight: 700;

}

.sloganContainer {
  height: 100%;
}

.slogan {
  margin: auto;
}

.subHeadline {
  font-size: 16px;
  padding-bottom: 8px;
  color: #054186;
  word-spacing: 2px;
}

.txtDottedYellow {
  color: #ffae00;
  text-decoration: underline dotted;
  text-underline-position: under;
}

.txtDotted {
  text-decoration: underline dotted;
  text-underline-position: under;
}

.mainlogo {
  padding-top: 24px;
  margin-bottom: -8px;
}

.mainLogoContainer {
  height: 125px;
}


.logoTextRB {
  padding-top: 8px;
  font-size: 18px;
}

.logoTextEfx {
  padding-top: 6px;
  font-size: 18px;
}

.mainlogoLandingEfxSlogan {
  font-size: 22px;
  padding-bottom: 24px;
  padding-top: 12px;
  /* font-weight: 700; */
  color: #054186;
}

.mainlogoLandingPlus {
  position: relative;
  float: left;
  width: 10%;
}

.mainlogoLandingPlus>div {
  margin-top: 30px;
}

.mainlogoLandingRB {
  position: relative;
  float: left;
  width: 45%;
}

.mainlogoLandingRB>div {
  width: 100px;
  float: right;
  font-weight: 700;
  color: #054186;
}

.mainlogoLandingEfx {
  float: left;
  font-family: "Montserrat", Lato, Arial, "Sans Serif";
  width: 45%;
}

.mainlogoLandingEfx>div {
  width: 100px;
  /* background-color: red; */
  color: #9b9ebd;
  font-weight: 700;
  /* margin-top: 2px; */
}

.buttonLogoContainer {

  padding-bottom: 24px;
}

.space {
  padding-top: 5px;
}

.content {
  text-transform: uppercase;

}

.cardtitle {
  background-color: #054186;
  color: white !important;
  font-weight: 700;
}

.column {
  height: 250px !important;
}

.actionbuttons {
  position: absolute !important;
  bottom: 10px !important;
}

.exchangebutton {
  margin: 0 0.5em;
}

.exchangebutton button {
  background-color: #054186 !important;
  height: 56px !important;
  padding: 0 10px !important;
  font-weight: 700;
}

.exchangebutton button[disabled] {
  opacity: 0.25;
  font-weight: 700;
}

.filterBox {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}