/* Copyright 2016 Rigo Investment Sarl. */

.body {
  background-color: cornflower;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
  flex: 1 0 auto;
  height: 100%;
}

.shadow {
  box-shadow: -60px 0px 40px -90px #000000, 60px 0px 40px -90px #000000 !important;
}

@supports (-webkit-appearance:none) {
  .shadow {  
    box-shadow: -60px 0px 90px -90px #000000, 60px 0px 90px -90px #000000 !important;
  }
} 

.cards {
  padding-right: 10px;
  padding-left: 10px;
}

.headline {
  font-size: 24;
  padding-top: 16;
  margin-bottom: 12;
  font-weight: 400;
}

.space {
  padding-top: 5px;
}

.content {
  text-transform: uppercase;

}

.cardtitle {
  background-color: rgb(33, 150, 243);
  color: white !important;
}

.column {
  height: 250px !important;
}

.actionbuttons {
  position: absolute !important;
  bottom: 10px !important;
}

.exchangebutton {
  margin: 0 0.5em;
}

.exchangebutton button {
  background-color: rgb(33, 150, 243) !important;
  height: 56px !important;
  padding: 0 10px !important;
}

.exchangebutton button[disabled] {
  opacity: 0.25;
}

.tabs {
}

.tab {
}
