/* Copyright 2016 Gabriele Rigo */

.body {
  background-color: cornflower;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
}

.headline {
  font-size: 24;
  padding-top: 16;
  margin-bottom: 12;
  font-weight: 400;
}

.space {
  padding-top: 5px;
}

.content {
  text-transform: uppercase;
}

.tabs {
}

.tab {
}
