/* Copyright 2016 Gabriele Rigo */

.body {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.headline {
  font-size: 24;
  padding-top: 16;
  margin-bottom: 12;
  font-weight: 400;
}

.tabs {
  width: 100%;
  float: 'left';
}

.tab {
}

.copyright {
  font-size: 0.9em;
}

.bottomBar {
  position: fixed;
  width: 100%;
  bottom: 0;
}
