/* Copyright 2016 Rigo Investment Sagl. */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');


html,
#header {
  margin: 0 !important;
  padding: 0 !important;
}


body {
  background: #fff;
  border: 0;
  color: #333;
  font-size: 16px;
  font-family: 'Open Sans', serif;
  /* margin-left: 0;
  margin-right: 0; */
  margin-top: 0px;
  vertical-align: top;
  /* height: 100%; */
  /* min-width: 960px; */
  /* margin-right: -8px;
  margin-left: -8px; */
}

.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: blue;
  /* Control the thikness of your lines */
  stroke-width: 2px;
}

.ct-series-a .ct-area {
  fill: blue;
}

.react-stockcharts-tooltip {
  fill: red;
}

.react-stockcharts-tooltip-label {
  fill: green;
}


.react-stockcharts-grabbing-cursor {
  pointer-events: all;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.react-stockcharts-crosshair-cursor {
  pointer-events: all;
  cursor: crosshair;
}

.react-stockcharts-tooltip-hover {
  pointer-events: all;
  cursor: pointer;
}

.react-stockcharts-avoid-interaction {
  pointer-events: none;
}

.react-stockcharts-enable-interaction {
  pointer-events: all;
}

.react-stockcharts-tooltip {
  pointer-events: all;
  cursor: pointer;
}

.react-stockcharts-default-cursor {
  cursor: default;
}

.react-stockcharts-move-cursor {
  cursor: move;
}

.react-stockcharts-pointer-cursor {
  cursor: pointer;
}

.react-stockcharts-ns-resize-cursor {
  cursor: ns-resize;
}

.react-stockcharts-ew-resize-cursor {
  cursor: ew-resize;
}