/* Copyright 2016 Rigo Investment Sarl. */

:root,
:root body {
  background: #fff;
  border: 0;
  color: #333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  vertical-align: top;

}

/* :root,
:root body,
:root :global(#root) {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
} */

/* :root * {
  font-weight: 600;
} */





