.ct-series-a .ct-area {
  fill: #053e80;
  fill-opacity: 0.1;
  stroke: none;
}

.divider {
  display: flex;
}

.ct-series-a .ct-line {
  stroke: #053e80;
  stroke-width: 2px;
}

.ct-label {
  font-size: 8px;
}

#chartPie .ct-label {
  font-size: 12px;
  font-weight: 700;
}