/* Copyright 2016 Gabriele Rigo */

.body {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2.75em 4em;
}

.gridlist {
  height: 200px;
  overflow-y: auto;
  overflow-x: inherit;
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  border-spacing: 20px;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
}
